{% extends 'base.html' %}

{% block body %}
        <div class = 'container mt-3'>
            <h2 style="color:#ee7a46">Projeto Flask</h2><p>Website feito em Flask para aprender a usar o framekwork</p>
        <hr>

        {% for post in posts %}
            <div class="row border mt-4 p-3 meupost">
                <div class="col col-3">
                    <div class="image pe-2" >
                        <img src="{{ url_for('static',filename='fotos_perfil/{}'.format(post.autor.profile_pic)) }}" class="rounded" width="200" >
                    </div>
                    <strong>{{ post.autor.username }}</strong>

                        <div class="col" style="text-align: center">
                            {% for curso in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                            {% endfor %}
                        </div>
                </div>


                <div class="col col-8">
                    <h3>{{ post.titulo }}</h3>
                    <p>{{ post.corpo }}</p>
                    <p>{{ post.id_usuario.nome }}</p>
                </div>

            </div>

        {% endfor %}

        </div>
{% endblock %}